.edit {
    background-color: #F0F0F0;
    color: black;
    margin-left: 10px;
    border-radius: 5px;
    padding: 2px 15px 2px 15px;
}

.modif_background {
    background-color: rgba(0, 0, 0, 0.80);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

#modif_password_window {
    display: none;
}

#modif_tel_window {
    display: none;
}

.modif_window {
    background-color: white;
    width: 400px;
    height: 250px;
    margin: auto;
    color: black;
}

.point p {
    color: red;
    font-size: 20px;
    text-align: right;
    border: 1px solid white;
    margin-left: 710px;
    padding-right: 6px;
    padding-top: 5px;
}

.resa {
    margin: auto;
    background-color: #F0F0F0;
    width: 75px;
    padding: 15px 25px;
    color: black;
    margin-top: 10px;
    border-radius: 5px;
}

button {
    padding: 4px;
    margin-left: 10px;
}

input {
    padding: 1px 15px 0 15px;
    margin-left: 15px;
}

p {
    padding-bottom: 8px;
}