<h3>Modification du mot de passe :</h3>

{{ form(form) }}

<script>
    function checkPassword() {
        if($('#form_password').val() === $('#form_passwordverif').val() && $('#form_password').val().length > 3) {
            $('#form_edit_pass_but').attr("disabled", false);
        } else {
            $('#form_edit_pass_but').attr("disabled", true);
        }
    }
    
    $('#form_password').keyup(function() {
        checkPassword();
    });
    
    $('#form_passwordverif').keyup(function(e) {
        checkPassword();
    });
    
    $('#form_edit_pass_but').attr("disabled", true);
    
    $('#form_cancel_pass_window').click(function() {
        $('#modif_password_window').hide();
        $('#form_password').val("");
        $('#form_passwordverif').val("");
    });
</script>