<ul>
    {% for menu in menus %}
        <li><a href="{{ menu.lien }}"><div class="menu">{{ menu.nom }}</div></a></li>
    {% endfor %}
    <!--<li><a href="/"><div class="menu">ACCUEIL</div></a></li>
    <li><a href="#"><div class="menu">PRODUITS</div></a></li>
    <li><a href="#"><div class="menu">CONTACT</div></a></li>
    <li><a href="/connexion"><div class="menu">CONNEXION</div></a></li>-->
</ul>